<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />



<section class="body">
    <section class="container__Card">
        <h1 class="Card__title">Esta semana
        </h1>
        <hr>
        <div class="Card" *ngFor="let agendamento of agendamentoList">
            <div class="Card_Text">
                <p>{{ agendamento.data}}</p>
                <p>{{ agendamento.especialidade}}</p>
                <p>Local: {{ agendamento.local}}</p>
            </div>
            <p class="hora">{{ agendamento.hora}}</p>
        </div>
        <div class="Card" *ngFor="let novoAgendamento of formList">
            <div class="Card_Text">
              <p>{{ novoAgendamento.data}}</p>
              <p>{{ novoAgendamento.especialidade}}</p>
              <p>Local: {{ novoAgendamento.local}}</p>
            </div>
            <p class="hora">{{ novoAgendamento.hora}}</p>
        </div>
    </section>
