.container{
    display: flex;
    flex-direction: column;
    padding: 4px;
    width: 100%;
}
.container__simbol{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 5px 0 0 0;
    height: 30px;
}

.img{
    width: 150px ;
}

.container__search{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-items: center;
    align-content: center;
    justify-content: center;
}
#search{
    font-size: 30px;
    background-color: white;
    color:#669DDA;
    justify-content: center;
    border: 1px;
    width: 30px;
    height: 30px
}

.container__search-input{
    border-radius: 5px;
    border-color: #669DDA;
    width: 250px;
    height: 25px;
    padding: 5px;
    margin: 5px;
}
