<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
    

<div class="container">
    <div class="container__simbol">
    <img class="img" src="https://s3-alpha-sig.figma.com/img/c3a9/f09a/e4028474fa3bd477a9a65d381530245c?Expires=1683504000&Signature=kqMOyGKxGXLBhQ08I9yEMryAZ7-zB3TNYY90BjHUNwT6~9G5~F4~sVAE4G0DjB9CAg-msWqRKKYsJlcWbmVwcjjbD2815g-3KwlX9U-a5xWpBxdJssX7RNaqW40-8Y9AZkE8ElokZSkYYdCl2sZfdMey0tbUP9fd-f-d2cq1nOr0j6vW~rK~gHV~ZV3vnczP-Oss3AiP1ftTxkMm-bAl3Egfq0lQ5h4rfokGhiBbpdwQrYEy76Fp6ll08hQZf0tQ17Smi6eJfqIejm7~lf1li7lFezPvBkOqkHTswNPXNNJyDaClpknlgaKGX6aQ-LVqfM-Uw278u4pk-Yt4acZ0YQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4">
    </div>
    <div class="container__search">
    <input class="container__search-input" type="text">
    <button type="button" id="search" class="material-symbols-outlined">
        search
    </button>
    </div>
</div>